<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotift Playlist Transfer Tool</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Spotify Playlist Editor</h1>
    <p3> Please take into disclaimer that only 100 songs max can be used per use due to Spotify's recent API changes.</p3>
</body>
<div>
    <h4>Guide</h4>
    <a href="/login">#1. Login to Spotify</a> <br>
    <p1> #2. Select source playlist.<br>
    #3. Select songs from source playlist. <br>
    #4. Choose your target playlist. <br>
    #5. Press "Confirm" </p1>

</div>
<div>
    <br></br>
    <select id="allPlaylists">
        <option value="example"> choose a playlist </option>
    </select>
    <script src="static/getPlaylists.js"></script>
</div>

<div id = "selectSource_button">
    <button id="selectSourcePlaylist">Select</button>
    <script src="static/getSourcePlaylist.js" defer></script>
</div>

<div>
    <p>All Songs</p>
    <form id="checkbox-select-song-source">
    
</div>


<div>
    <br></br>
    <select id="allTargetPlaylists">
        <option value="example1"> choose a playlist </option>
    </select>
    <script src="static/listTargetPlaylists.js"></script>
</div>

<div id = "selectTarget_button">
    <button id="selectTargetPlaylist">Select</button>
    <script src="static/transferSongs.js" defer></script>
</div>
</html> 